.dropit {
    //display: block;
}

.dropit .dropit-trigger {
    position: relative;
    padding: 5px 0;
}

.menu {
    background-color: transparent;
    //width: auto !important;
    display: inline-block;
    font-weight: 100;
    margin: 0 !important;
    line-height: 1.3em;
}

.menu a {
    text-decoration: none;
    color: inherit !important;    
}

.menu .selection {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    color: @black;
    padding: 10px 20px 10px 10px;

    span {
        padding-right: 20px;
    }
}

.menu ul { display: none; } /* Hide before plugin loads */

.menu ul.dropit-submenu {
    background-color: #FFF;
    color: @black;
    position: absolute;
    left: 0;
    top: auto;
    width: 250px;
    border: 1px solid @black;
    max-height: 300px;
    overflow-y: scroll;
}

.menu ul.dropit-submenu li {
    line-height: 1.1em;
    font-size: 16px;
    color: @black;
    padding: 7px 9px;
    cursor: pointer;
    white-space: normal;
}

.menu ul.dropit-submenu li:not(:last-child) {
    border-bottom: 1px dashed @black;    
}

.menu ul.dropit-submenu li:hover {
    background: @red;
    color: #fff;
    text-decoration: none;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    border-top: 8px solid @red;
    position: absolute;
    right: 8px;
    top: 43%;
    margin: 0;
}

.dropit-open {
    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;   
        border-bottom: 8px solid @red;
        border-top: 0;
        position: absolute;
        right: 8px;
        top: 43%;
        margin: 0;
    }    
}